<!DOCTYPE html>
<!--[if IE 7 ]>
<html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{% block title %}Camping chez l'habitant{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Font Google -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400%7COpen+Sans:300,400,600' rel='stylesheet'
          type='text/css'>
    <!-- End Font Google -->
    <!-- Library CSS -->
    {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/library/bootstrap.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/library/font-awesome.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/library/jquery-ui.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/library/jquery.mb.YTPlayer.min.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/library/magnific-popup.css') }}" rel="stylesheet" />
        <link href="{{ asset('css/library/owl.carousel.css') }}" rel="stylesheet" />
    {% endblock %}


    <!-- End Library CSS -->
</head>
<body>
<!-- Preloader -->
<!--<div id="preloader">
    <div class="tb-cell">
        <div id="page-loading">
            <div></div>
            <p>Chargement</p>
        </div>
    </div>
</div>-->

<!-- Wrap -->
<div id="wrap">

    <!-- Header -->
    <header id="header" class="header">
        <div class="container">

            <!-- Logo -->
            <div class="logo float-left">
                <a href="index.html" title=""><img src="{{ asset('images/logo-header.png') }}" alt=""></a>
            </div>
            <!-- End Logo -->
            <!-- Bars -->
            <div class="bars" id="bars"></div>
            <!-- End Bars -->

            <!--Navigation-->
            {% block nav %}
                <nav class="navigation nav-c" id="navigation" data-menu-type="1200">
                <div class="nav-inner">
                    <a href="#" class="bars-close" id="bars-close">Fermer</a>
                    <div class="tb">
                        <div class="tb-cell">
                            {% block navItems %}
                                {{ include ('CCHCampBundle:Camp:menu.html.twig')}}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                </nav>
            {% endblock %}

            <!--End Navigation-->
        </div>
    </header>
    <!-- End Header -->

    {% block content %}

    {% endblock %}

    {% block footer %}
        <footer>
            <div class="container">
                <div class="row">
                    <!-- Logo -->
                    <div class="col-md-4">
                        <div class="logo-foter">
                            <a href="index.html" title=""><img src="{{ asset("images/logo-footer.png") }}" alt=""></a>
                        </div>
                    </div>
                    <!-- End Logo -->
                    <!-- Navigation Footer -->
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="ul-ft">
                            <ul>
                                <li><a href="{{ path("cch_camp_homepage") }}" title="">Home</a></li>
                                <li><a href="#" title="">A propos</a></li>


                            </ul>
                        </div>
                    </div>
                    <!-- End Navigation Footer -->
                    <!-- Navigation Footer -->
                    <div class="col-xs-6 col-sm-3 col-md-2">
                        <div class="ul-ft">
                            <ul>
                                <li><a href="{{ path("cch_camp_add") }}" title="">Insérer une annonce</a></li>
                                <li><a href="{{ path("cch_user_signup") }}" title="">Se connecter</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navigation Footer -->
                    <!-- Footer Currency, Language -->
                    <div class="col-sm-6 col-md-4">
                        <!-- Language -->
                        <!--<div class="currency-lang-bottom dropdown-cn float-left">
                            <div class="dropdown-head">
                                <span class="angle-down"><i class="fa fa-angle-down"></i></span>
                            </div>
                            <div class="dropdown-body">
                                <ul>
                                    <li class="current"><a href="#" title="">English</a></li>
                                    <li><a href="#" title="">Bahasa Melayu</a></li>
                                    <li><a href="#" title="">Català</a></li>
                                    <li><a href="#" title="">Dansk</a></li>
                                    <li><a href="#" title="">Deutsch</a></li>
                                    <li><a href="#" title="">Francais</a></li>
                                    <li><a href="#" title="">Italiano</a></li>
                                </ul>
                            </div>
                        </div>-->
                        <!-- End Language -->
                        <!-- Currency -->
                        <div class="currency-lang-bottom dropdown-cn float-left">
                            <!--   <div class="dropdown-head">
                                   <span class="angle-down"><i class="fa fa-angle-down"></i></span>
                               </div>
                               <div class="dropdown-body">
                                   <ul>
                                       <li class="current"><a href="#" title="">US</a></li>
                                       <li><a href="#" title="">ARS</a></li>
                                       <li><a href="#" title="">ADU</a></li>
                                       <li><a href="#" title="">CAD</a></li>
                                       <li><a href="#" title="">CHF</a></li>
                                       <li><a href="#" title="">CNY</a></li>
                                       <li><a href="#" title="">CZK</a></li>
                                   </ul>
                               </div>-->
                        </div>
                        <!-- End Currency -->
                        <!--CopyRight-->
                        <p class="copyright">
                            © 2016 Lombardot Stéphane All rights reserved.
                        </p>
                        <!--CopyRight-->
                    </div>
                    <!-- End Footer Currency, Language -->
                </div>
            </div>
        </footer>
        <!-- End Footer -->
    {% endblock %}

    <!-- Footer -->


</div>

<!-- Library JS -->
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/library/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/library/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/library/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/library/owl.carousel.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/library/parallax.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/library/jquery.nicescroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/library/jquery.ui.touch-punch.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/library/jquery.mb.YTPlayer.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/library/SmoothScroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
    <script type="text/javascript" src="{{ asset('http://maps.google.com/maps/api/js?sensor=false') }}"></script>
{% endblock %}



<!-- End Library JS -->
<!-- Main Js -->
<!-- End Main Js -->
</body>
</html>
